*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: royalblue;
	color:white;
}

#initial{
	width: 300px;
	height: 300px;
	background-color: white;
	margin:auto;
	margin-top: 10%;
	border:1px solid white;
}

#submit{
	margin:10px 100px 0px 100px;
	width: 100px;
	height: 50px;
	font-size:1em; 
}

#content{
	visibility: hidden;
}

#game{
	width: 300px;
	height: 300px;
	background-color: white;
	margin:auto;
	margin-top: 10%;
	border:1px solid white;
}

button{
	width: 100px;
	height: 100px;
	margin:0px;
	float: left;
	font-size: 100px;
}


#notification{
	width: 500px;
	min-height: 30px;
	background-color: white;
	color:black;
	font-size: 2em;
	line-height: 50px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	visibility: hidden;
}

#startButton{
	margin:auto;
	font-size: 2em;
	height: 5vw;
	width: 5vw;
	min-width: 100px;
	min-height: 100px;
	margin-left: 47.5%;

}

span{
	color:black;
	font-style: bold;
	font-size: 1.2em;
	margin:auto;
	display: block;
	padding: 15px;
}

#welcome{
	background-color: skyblue;
	color:white;
	font-size: .9em;
	text-align: center;
}

.choice:hover{
	background-color: red;
}

